@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Noto+Sans+KR&display=swap');

* { margin: 0px; padding:0px; text-decoration: none;
    font-family: 'Noto Sans KR', sans-serif;
    -ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;
}

body {
  background: rgb(0, 116, 131);
}

.main {
  background-color: white;
  width: calc( 80vw - 60px);
  height: calc(70vh - 60px);
  border-radius: 20px;
  text-align: center;
  padding: 30px;
  transform: translate(-50%,-50%);
  position: absolute;
  top:45%; left:50%;
}

.head{
  background-color: rgb(0, 70, 79);
  color:white;
  width: 80vw;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  transform: translate(-50%,-50%);
  position: absolute;
  bottom:30px; left:50%;
}

.alignment {
  transform: translate(-50%,-50%);
  position: relative;
  top:50%; left:50%;
}
