.title{
  font-family: 'Fredoka One', cursive;
  font-size: 50px;
  line-height: 70px;
  color:rgb(17, 62, 116);
}

.icon {
  font-size: 200px;
  height: 230px;
  line-height: 230px;
  color:rgb(59, 74, 150);
  margin-bottom: -30px;
  animation-name: myAnim;
  animation-duration: 4s;
  animation-iteration-count:infinite;
}

@keyframes myAnim {
  0% { color:rgb(59, 74, 150); font-size: 200px;}
  25% { color:rgb(59, 150, 96); font-size: 180px; }
  50% { color:rgb(182, 64, 52); font-size: 200px;}
  75% { color:rgb(135, 59, 150); font-size: 180px;}
  100% { color:rgb(59, 74, 150); font-size: 200px;}
}

.sub {
  margin-top: 10px;
  margin-bottom: 10px;
  color:rgb(94, 94, 94);
}

.button {
  margin-top: 30px;
  width: 80%;
  display: inline-block;
  background: rgb(14, 151, 201);
  color:white;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
}
